@import "../../../style/reset.scss";
@import "../../../style/variable.scss";
html,
body {
    background-color: #ffffff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.health-code {
    margin: 20px auto;
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    padding: 0;
}